
/* font-family: 'Caveat', cursive; 
font-family: 'Open Sans', sans-serif;
/* color palette
#2B2042 - dark blue
#8099AE - light blue
#EDF2F4 - blue/white
#EF233C - red
 */

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color:#2B2042 ;
}
header {
	background: white;
	padding: 20px
}

header h1, h2 {
	color: darkblue; 
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}

.score-board {
	margin: 20px auto;
	border: 3px solid white;
	width: 200px;
	color: white;
	font-size: 46;
	text-align: center;
	padding: 15px 20px;
	font-family: 'Open Sans', sans-serif;
	position: relative;

}

.badge {
	background:#8099AE;
	font-size: 14px;
	padding: 2px 10px;
	font-family: 'Open Sans', sans-serif;
	
}

#win-label {
	position: absolute;
	top: 40px;
	left: -20px;
}

#lose-label {
	position: absolute;
	top: 40px;
	right: -30px;
}

.result {
	font-size: 40px;
	color: white;
}

.result h5 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}


#current-word {
	border: 3px solid white;
	width: 400px;
	margin: 10px auto;

}

#current-word p {
	text-align: center;
	color: white
	
}

#guess-remaining {
	border: 3px solid white;
	width: 400px;
	margin: 10px auto;

}

#guess-remaining p {
	text-align: center;
	color: white

}


#already-guessed {
	border: 3px solid white;
	width: 400px;
	margin: 10px auto;

}

#already-guessed p {
	text-align: center;
	color: white

}

p {

	font-size: 20px;
	color: white;
	text-align: center;
}



.badge2 {
	font-size: 40px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;

}